<app-navi-bar></app-navi-bar>

<mat-card class="mat-card">
  <input [(ngModel)]="name" matInput placeholder="name" type="text" value="">
  <input [(ngModel)]="cost" matInput placeholder="cost" type="text" value="">
  <input [(ngModel)]="quantity" matInput placeholder="quantity" type="text" value="">
  <button (click)="setReward()" class="mat-button" style="width: 100%">Add Reward</button>
</mat-card>

<a>Reward Table </a>
<mat-card class="mat-card">
  <mat-form-field>
    <input (keyup)="applyFilterReward($event.target.value)" matInput placeholder="Search Reward">
  </mat-form-field>
</mat-card>

<div class="example-container mat-elevation-z8">
  <table [dataSource]="dataSourceReward" mat-table style="width: 100%">
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>

      <mat-cell *matCellDef="let element">

        <button (click)="deleteReward(element)" class="mat-button">Delete</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef> cost</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsReward"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsReward;"></mat-row>
  </table>
</div>
<a>User Table </a>
<mat-card class="mat-card">
  <mat-form-field>
    <input (keyup)="applyFilterUser($event.target.value)" matInput placeholder="Search User">
  </mat-form-field>
</mat-card>
<div class="example-container mat-elevation-z8">
  <table [dataSource]="dataSourceUser" mat-table style="width: 100%">
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Permissions</mat-header-cell>

      <mat-cell *matCellDef="let element">

        <button (click)="increasePermissionsForUser(element)" class="mat-button">Increase</button>
        <button (click)="reducePermissionsForUser(element)" class="mat-button">Reduce</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> points</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activated">
      <mat-header-cell *matHeaderCellDef> activated</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activated}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accountType">
      <mat-header-cell *matHeaderCellDef> accountType</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.accountType}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsUser;"></mat-row>
  </table>

</div>
