<app-navi-bar></app-navi-bar>

<mat-card class="mat-card">
  <button (click)="createSurvey()" class="mat-button" style="width: 100%">Add new survey</button>
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">

  </mat-form-field>
</mat-card>
<div class="example-container mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table style="width: 100%">

    <ng-container matColumnDef="Action">

      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>

      <mat-cell *matCellDef="let element">

        <button (click)="analyzeSurvey(element)" class="mat-button">Analyze</button>
        <button (click)="filterSurvey(element)" class="mat-button">Filter</button>
        <button (click)="deleteSurvey(element)" class="mat-button">Delete</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>

</div>


