.center-content {
  background-color: darkgray;
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
  width: 100%;
  height: 100%;
}
.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

