
<mat-toolbar>
  <mat-toolbar-row >
  <span (click)="backToHome()" >Survey-Research</span>
    <div style="margin-left: auto ; margin-right: 0">
  <a style="font-size: 15px"> Points : {{points}}</a>
  <button class="mat-button" routerLink="/grat">Reward</button>
      <button *ngIf = "(accountType=='creator')||(accountType=='admin')"class="mat-button" routerLink="/sl">My surveys</button>
      <button class="mat-button" routerLink="/person">Personal</button>
      <button *ngIf = "accountType=='admin'" class="mat-button" routerLink="/admin">Admin panel</button>
  <button class="mat-button"   (click)="Logout()">Log out</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>




