<div class="center-content">
  <mat-card class="example-card">
    <mat-label style="font-size: 20px" >Change password</mat-label>
    <div class="example-full-width">
      <input type="password" matInput placeholder="New Password" [(ngModel)]="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </div>
    <div class="example-full-width">
      <input type="password" matInput placeholder="New Password" [(ngModel)]="testPassword">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </div>
    <button class="mat-button" (click)="submit()">Submit</button>
  </mat-card>
</div>

