<div class="center-content">
  <mat-card class="example-card">
    <mat-label style="font-size: 20px">Change password</mat-label>
    <div class="example-full-width">
      <input [(ngModel)]="password" matInput placeholder="New Password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </div>
    <div class="example-full-width">
      <input [(ngModel)]="testPassword" matInput placeholder="New Password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </div>
    <button (click)="submit()" class="mat-button">Submit</button>
  </mat-card>
</div>

