<app-navi-bar></app-navi-bar>
<mat-card class="mat-card">
  <h3> Question nr. {{tempQuery.numberOfQuery}}</h3>
  <div>
    <input [(ngModel)]="tempQuery.question" placeholder="Question" style="width: 100%" type="text" value="">
    <button (click)="createOpenQuery()" class="halfwidth" mat-button>Open Question</button>
  </div>
  <hr class="hr1">

  <div *ngIf="!openQuery">
    <div class="horizontal">
      <textarea [(ngModel)]="newAnswer" class="halfwidth" cols="40" name="name" name="answer" placeholder="Answer"
                rows="5"></textarea>
      <div class="vl"></div>
      <button (click)="addAnswer()" class="halfwidth" mat-button>Add answer</button>
    </div>
    <hr class="hr1">

    <div>
      <h3> Max answers : {{tempQuery.maxAnswer}}</h3>
      <mat-form-field style="width: 100%">
        <mat-select (ngModelChange)="tempQuery.maxAnswer" [(ngModel)]="tempQuery.maxAnswer">
          <mat-option (click)="tempQuery.maxAnswer = i+1" *ngFor="let x of tempQuery.answers;  index as i;" [value]="i">
            {{ i + 1 }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr class="hr1">

    <div>
      <mat-slide-toggle [(ngModel)]="tempQuery.checkQuery">Verification question</mat-slide-toggle>
    </div>
    <div *ngIf="tempQuery.checkQuery">
      <hr class="hr1">
      <h3> correctAnswer : {{tempQuery.answers[tempQuery.correctAnswer]}}</h3>
      <mat-form-field style="width: 100%">
        <mat-select (ngModelChange)="tempQuery.correctAnswer" [(ngModel)]="tempQuery.correctAnswer">
          <mat-option (click)="setCorrectAnswer(x)" *ngFor="let x of tempQuery.answers" [value]="x">
            {{ x }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr class="hr1">
  </div>

  <button (click)="previous()" class="halfwidth" mat-button>Previous</button>
  <button (click)="next()" class="halfwidth" mat-button>Next</button>

  <hr class="hr1">
  <button (click)="finish()" mat-button style="width: 100%">finish</button>
  <hr class="hr1">
  <h3>Questions</h3>
  <h3>{{tempQuery.numberOfQuery}} .{{tempQuery.question}}</h3>
  <li *ngFor="let item of tempQuery.answers; index as i;">{{toAscii(i)}}.  {{ tempQuery.answers[i] }}</li>
  <div *ngFor="let query of queryList;">
    <h3>  {{query.numberOfQuery}}. {{query.question}}</h3>
    <li *ngFor="let q of query.answers; index as i;">{{toAscii(i)}}.  {{ query.answers[i] }}</li>
  </div>

</mat-card>
