<div class="center-content">
  <mat-card class="example-card">
    <mat-label style="font-size: 20px">Login</mat-label>
    <div class="example-full-width">
      <input [(ngModel)]="loginData.email" matInput placeholder="Email" type="email" value="">
      <mat-icon>email</mat-icon>
    </div>
    <div class="example-full-width">
      <input [(ngModel)]="loginData.password" matInput placeholder="Password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </div>
    <button (click)="login()" class="mat-button">Login</button>
    <button (click)="register()" class="mat-button">Register</button>
    <button (click)="changePass()" class="mat-button">Forgot password</button>
  </mat-card>
</div>

